@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 10px;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: gray;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
}

.info-text h4 {
    margin-bottom: 10px;
}

.avatar {
    width: 220px;
    margin-bottom: 10px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.card {
    border-radius: 20px;
    padding: 1px 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.card h2 {
    margin-bottom: 10px;
}
.info {
    margin-bottom: 20px;
}
.bg-green {
    background: #e5ffe7;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-red {
    background: #ffe5e5;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 6px;
}

.btn:hover {
    opacity: 0.8;
}

.form h4 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea
 {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;

}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}